* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    width: 100%;
    height: 100%;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, sans-serif;
}
body {
    width: 100%;
    min-height: 100vh;
}
main {
    width: 100%;
}
main section {
    width: 100%;
    padding: var(--padding-xl);
    display: flex;
    justify-content: space-between;
    gap: var(--gutter-lg);
}
main section .left {
    width: 20%;
    background-color: var(--bg-secondary-color);
    padding: var(--padding-md);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: var(--margin-sm);
}
.filters {
    display: flex;
    flex-direction: column;
    gap: var(--gutter-sm);
}
.filter {
    width: 100%;
    margin-bottom: 10px;
}
.filter p {
    font-size: 0.9rem;
    margin-bottom: 5px;
}
.filter input[type="range"] {
    width: 100%;
    appearance: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}
.filter input::-webkit-slider-runnable-track {
    background-color: var(--bg-active-color);
    height: 4px;
    border-radius: 2px;
}
.filter input::-webkit-slider-thumb {
    appearance: none;
    height: 18px;
    width: 18px;
    background-color: white;
    border-radius: 50%;
    margin-top: -7px; 
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
main section .center {
    display: flex;
    flex-direction: column;
    width:80%;
    gap: var(--gutter-md);
}
main section .top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gutter-xl);
    padding: var(--padding-md);
    background-color: var(--bg-secondary-color);
    border-radius: 15px;
}
main section .bottom {
    background-color: var(--bg-secondary-color);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 3/2;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-secondary-color);
    opacity: 0.6;
}
.placeholder i {
    font-size: 10rem;
    margin-bottom: 10px;
}
canvas {
    display: none;
    max-width:100%;
    max-height:100%;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}
main section .right {
    width: 20%;
    background-color: var(--bg-secondary-color);
    padding: var(--padding-md);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: var(--margin-sm);
}
.preset {
    display: flex;
    flex-direction: column;
    gap: var(--gutter-sm);
}
.btn {
    padding: var(--padding-sm) var(--padding-md);
    border: none;
    outline: none;
    background-color: var(--bg-active-color);
    border-radius: 0.5rem;
    cursor: pointer;
    color: var(--text-active-color);
    font-weight: 600;
    transition: opacity 0.2s;
    margin:2px;
}
.btn:hover {
    opacity: 0.8;
}
#reset-btn {
    background-color: var(--bg-danger-color);
    color: white;
}
#Download-btn {
    background-color: var(--bg-succes-color);
    color: white;
}